:root {
  --mainBackgroundColor: #e6b18e58;
  --whiteColor: #e7eaef;
  --ligthGrassGreen: #8b9d77;
  --deepGreen: #37745b;
  --blue: #217074;
  --FontFamilyMain: "Quicksand", sans-serif;
  --FontFamilyKeyWord: "Fredoka One", sans-serif;
}
body {
  background-color: var(--mainBackgroundColor);
  padding: 20px;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
